*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

canvas{
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas p{
  font-size: 70px;
  font-weight: 600;
  color: white;
}